packages/
CrosswordGenerator/obj/
CrosswordGenerator/bin/
.vs/
CrosswordGeneratorTests/bin/
CrosswordGeneratorTests/obj/
CrosswordGeneratorTests/packages/
CrosswordWPF/obj/
CrosswordWPF/bin/Debug
CrosswordAPI/bin/
CrosswordAPI/obj/
/CrosswordAPI/bin/Debug/net6.0/CrosswordAPI.dll
