packages/
CrosswordGenerator/obj/
CrosswordGenerator/bin/
.vs/
CrosswordGeneratorTests/bin/
CrosswordGeneratorTests/obj/
CrosswordGeneratorTests/packages/
CrosswordWPF/obj/
CrosswordWPF/bin/Debug
CrosswordWPF_OLD